<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.site_name }}</title>
    <style>{% include "templates/style.css" %}</style>
    {% include "templates/head_custom.html" ignore missing %}
  </head>
  <body>
    <div class="container">
      <h1>{{ config.site_name }}</h1>

      <ul>
        {% for entry in entries %}
          <li>
            <a href="{{ entry.id }}.html">
              {{ entry.id }}
              [{{ entry.type }}]
              {% for creator in entry.creator %}
                {% if creator["creator_name"]|length > 0 %}
                  {{ creator.creator_name[0].name }}
                {% endif %}
              {% endfor %}.
              {{ entry.title[0].title }}
            </a>
            {% if not entry.file is not defined %}
              {% if not entry.file[0].date is not defined %}
                ({{ entry.file[0].date[0].date }})
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <div>
        最終更新日: {{ now }}
        <a href="resourcelist.xml">ResourceSync XML</a>
      </div>

      {% include "templates/footer.j2" %}
    </div>
  </body>
</html>
