<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ entry.title[0].title }}</title>
    <style>
      {% include "templates/style.css" %}
    </style>
  </head>
  <body>
    <div class="main">

      <div><a href="index.html">一覧</a></div>

      <h1>{{ entry.title[0].title }}</h1>

      <div>
        {{ config.base_url }}/{{ entry.id }}.html
      </div>

      <dl>
        <dt>資源タイプ</dt>
        <dd>{{ entry.type }}</dd>
      </dl>

      <dl>
        <dt>出版タイプ</dt>
        <dd>{{ entry.text_version }}</dd>
      </dl>

      <dl>
        {% for creator in entry.creator %}
          <dt>作成者</dt>
          <dd>
            {% for creator_name in creator.creator_name %}
              <dl>
                <dt>{{ creator_name.lang }}</dt>
                <dd>{{ creator_name.name }}</dd>
              </dl>
            {% endfor %}
            {% for name_identifier in creator.name_identifier %}
              <dl>
                {% if name_identifier.identifier_scheme == "ORCID" %}
                  <dt>ORCID</dt>
                  <dd><a href="{{ name_identifier.identifier }}">{{ name_identifier.identifier }}</a></dd>
                {% else %}
                <dt>{{ name_identifier.identifier_scheme }}</dt>
                <dd>{{ name_identifier.identifier }}</dd>
                {% endif %}
              </dl>
            {% endfor %}
          </dd>
        {% endfor %}
      </dl>

      <dl>
        {% for contributor in entry.contributor %}
          <dt>寄与者</dt>
          <dd>
            {% for contributor_name in contributor.contributor_name %}
              {{ contributor_name.name }}
            {% endfor %}
            {% for name_identifier in contributor.name_identifier %}
              {% if name_identifier.identifier_scheme == "ORCID" %}
                <a href="{{ name_identifier.identifier }}">{{ name_identifier.identifier }}</a>
              {% else %}
                {{ name_identifier.identifier }}
              {% endif %}
            {% endfor %}
          </dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>主題</dt>
        {% for subject in entry.subject %}
          <dd>{{ subject.subject_scheme }}: {{ subject.subject }}</dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>出版者</dt>
        {% for publisher in entry.publisher %}
          <dd>{{ publisher.lang }}: {{ publisher.publisher }}</dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>日付</dt>
        {% for date in entry.date %}
          <dd>{{ date.date_type }}: {{ date.date }}</dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>言語</dt>
        {% for language in entry.language %}
          <dd>{{ language }}</dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>識別子</dt>
        {% for identifier in entry.identifier %}
          <dd><a href="{{ identifier }}">{{ identifier }}</a></dd>
        {% endfor %}
      </dl>

      {% if entry.identifier_registration %}
        <dl>
          <dt>ID登録</dt>
          <dd><a href="https://doi.org/{{ entry.identifier_registration.identifier }}">https://doi.org/{{ entry.identifier_registration.identifier }}</a></dd>
        </dl>
      {% endif %}

      <dl>
        <dt>関連情報</dt>
        {% for relation in entry.relation %}
          <dd>{{ relation.relation_type }}: <a href="{{ relation.related_identifier.identifier }}">{{ relation.related_identifier.identifier }}</a></dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>助成情報</dt>
        {% for funding_reference in entry.funding_reference %}
          <dd>
            {% if funding_reference.award_number.award_number_type == "JGN" %}
              <a href="{{ funding_reference.award_number.award_uri }}">{{ funding_reference.award_title[0].award_title }}</a>
            {% else %}
              {{ funding_reference.award_title[0].award_title }}
            {% endif %}
          </dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>収録物名</dt>
        {% for source_title in entry.source_title %}
          <dd>
            {{ source_title.source_title }}.
            vol. {{ entry.volume }},
            issue {{ entry.issue }}.
            {{ entry.page_start }}-{{ entry.page_end }}.
          </dd>
        {% endfor %}
      </dl>

      <dl>
        <dt>学位授与番号</dt>
        <dd>{{ entry.dissertation_number }}</dd>
        <dt>学位名</dt>
        {% for degree_name in entry.degree_name %}
          <dd>{{ degree_name.lang }}: {{ degree_name.degree_name }}</dd>
        {% endfor %}
        <dt>学位授与年月日</dt>
        <dd>{{ entry.date_granted }}</dd>
        <dt>学位授与機関</dt>
        {% for degree_grantor in entry.degree_grantor %}
          {% for degree_grantor_name in degree_grantor.degree_grantor_name %}
            <dd>{{ degree_grantor_name.lang }}: {{ degree_grantor_name.degree_grantor_name }}</dd>
          {% endfor %}
        {% endfor %}
      </dl>

      <dl>
        <dt>ファイル</dt>
        {% for file in files %}
          <dd><a href="{{ entry.id }}/{{ file }}">{{ file }}</a></dd>
        {% endfor %}
      </dl>

      <div>
        最終更新日: {{ now }}
        <a href="{{ entry.id }}/jpcoar20.xml">JPCOAR Schema 2.0 XML</a>
      </div>

      {% include "templates/footer.j2" %}
    </div>
  </body>
</html>
